<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Editing Product :  <b><%= list.title %></b></h2>
      <br />
      <form
        action="/listings/<%=list._id%>?_method=PUT"
        method="post"
        class="needs-validation"
        enctype="multipart/form-data"
        novalidate
      >
        <div class="mb-3">
          <label class="form-label" for="title">Name of Product </label
          ><span> <b style="color: red"> *</b> : </span>
          <input
            class="form-control"
            type="text"
            id="title"
            placeholder="Enter title of Hotel"
            name="listing[title]"
            value="<%=list.title%>"
            required
          />
          <div class="invalid-feedback">Please provide the valid Name</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="desc">Description </label
          ><span> <b style="color: red"> *</b> : </span>
          <textarea
            name="listing[description]"
            class="form-control"
            id="desc"
            rows="5"
            cols="30"
            placeholder="Enter the description of the HOTEL"
            required
          >
<%=list.description%></textarea
          >
          <div class="invalid-feedback">
            Please provide the valid Description
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="img" class="form-label">Upload new Image : </label>
            <input
              type="file"
              id="img"
              class="form-control"
              value="<%= list.image %>"
              accept="image/png, image/jpeg, image/jpg"
              width="500px"
              name="listing[image]"
            />
          </div>
          <div class="col-md-4">
            <button class="btn btn-outline-warning" style="margin-top: 32px">
              <a
                href="<%= list.image.url %>"
                target="_blank"
                style="text-decoration: none; color: black"
              >
                View Original Image</a
              >
            </button>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Select Category </label
            ><span> <b style="color: red"> *</b> : </span>
            <select class="form-select" name="listing[category]" id="category" onchange="setTax(this.value)" >
              <option value="" selected disabled>Select Category</option>
              <option value="Beverages" <%= lists.category == 'Beverages' ? 'selected': '' %> >Beverages (12% Tax)</option>
              <option value="Snacks" <%= lists.category == 'Snacks' ? 'selected': '' %> >Snacks and Sweets (18% Tax)</option>
              <option value="Dairy" <%= lists.category == 'Dairy' ? 'selected': '' %> >Dairy & Eggs (2% Tax)</option>
              <option value="Grocery" <%= lists.category == 'Grocery' ? 'selected': '' %> >Grocery (5% Tax)</option>
            </select>
            <div class="invalid-feedback">Please Provide the valid Price</div>
          </div>
        </div>
        <div class="divider mt-4 mb-3">
          <span style="margin-left: 330px; color: rgb(137, 132, 132); font-weight: 700; font-size: 20px;"><u>Cost Section</u></span>
          <!-- <hr> -->
        </div>
        <br>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Cost Price </label
            ><span> <b style="color: red"> *</b> : </span>
            <input
              type="number"
              min="0"
              class="form-control"
              width="50%"
              value="<%= lists.costPrice %>"
              placeholder="Enter Cost price of Product"
              id="costPrice"
              name="listing[costPrice]"
              oninput="if (this.value < 0) this.value = 0;"
              required
            />
            <div class="invalid-feedback">Please Provide the valid Cost Price</div>
          </div>
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Tax on Product: </label
            ><span> <b style="color: red"> *</b> : </span>
            <input
              type="number"
              min="0"
              class="form-control"
              width="50%"
              value="<%= lists.Tax %>"
              placeholder="Select Category for Tax"
              id="taxField"
              name="listing[Tax]"
              oninput="if (this.value < 0) this.value = 0;"
              required
              readonly
            />
            <div class="invalid-feedback">Please Provide the valid Selling Price</div>
          </div>
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Profit Margin %: </label
            ><span> <b style="color: red"> *</b> : </span>
            <input
              type="number"
              min="0"
              class="form-control"
              width="50%"
              value="<%= lists.margin %>"
              placeholder="Enter Selling price of Product"
              id="sellingPrice"
              name="listing[margin]"
              oninput="if (this.value < 0) this.value = 0;"
              required
            />
            <div class="mt-2" style="font-size: 13px;">Profit Margin is Considered in <b>Percentage</b><span style="color: red;">*</span></div>
            <div class="invalid-feedback">Please Provide the valid Profit Margin</div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="loc">Special Feature [USP] : <i class="fa-solid fa-chess-king" style="color: gold;"></i></label>
          
          <!-- <span> <b style="color: red"> *</b> : </span> -->
          <input
            type="text"
            id="col"
            class="form-control"
            placeholder="Enter Imported Location of Product (Optional)"
            value="<%= list.location %>"
            name="listing[location]"
          />
          <div class="invalid-feedback">
            Please provide the Imported Location
          </div>
        </div>
        <div class="edit-btn">
          <button
            class="btn btn-outline-dark mt-3 mb-3"
            id="editBtn"
          >
            Save Changes
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="loader-overlay" id="editLoaderOverlay">
    <div class="loader-container">
      <div class="loader"></div>
      <p class="loader-text">Saving your Changes ...</p>
    </div>
  </div>
  <script>
    document.querySelector("#editBtn").addEventListener ("click", function(){
      document.querySelector("#editLoaderOverlay").style.display = "flex";
    })
  </script>
</body>

