<%- layout("/layouts/boilerplate") %>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <h2 class="mb-4 heading">AVAILABLE PRODUCTS : </h2> -->
   <div class="continer-fluid mt-2 mb-3 text-center">
    <span class="d-inline-block rotating-text">
      Invest in your <b>HLEATH </b> Order <b>NOW!</b>
    </span>
   </div>
  <form action="/listings/new" method="get">
    <!-- <button>ADD Listings</button> -->
  </form>

  <div class="row row-cols-lg-6 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <% for(let list of lists) {%>
        <!-- <a href="/listings/<%# list._id %>" class=""> -->
            <div class="card listing-card listing-link" style="border-radius: 17px; width: 13rem; height: 18rem; margin-left: .5rem; cursor: pointer;" onclick="window.location='/listings/<%= list._id %>'">
                <!-- <img src="<%# list.image.url %>" class="card-img-top main_img" style="height: 20rem" alt="..." /> -->
                 <img 
                  src="<%= list.image.url %>?w=600&h=400&c=fill&q=auto&f=auto" 
                  srcset="
                    <%= list.image.url %>?w=300&q=auto&f=auto 300w,
                    <%= list.image.url %>?w=600&q=auto&f=auto 600w,
                    <%= list.image.url %>?w=1200&q=auto&f=auto 1200w
                  "
                  sizes="(max-width: 600px) 200px, (max-width: 1200px) 600px, 1200px"
                  loading="lazy"
                  class="card-img-top main_img" style="height: 10rem; padding: 2px;" alt="..." />
                <!-- <div class="card-img-overlay" ></div> -->
                <div class="card-body ms-2" >
                    <p class="card-text">
                      <b><%= list.title %></b> <br />
                      <div class="row">
                        <div class="col-md-6">
                          <i class="fas fa-rupee-sign"></i><b> : <%=list.sellingPrice?.toLocaleString("en-IN") %> </b>
                        </div>
                      </div>
                      <% if(!currUser || !list.owners.some(o=>o._id.equals(currUser._id))) {%>
                          <div class="row mt-3">
                              <form action="/cart/<%= list._id %>" method="post">
                                  <input type="hidden" name="returnTo" value="/listings?category=<%= category %>">
                                  <button type="submit" class="btn btn-outline-primary" title="Add To Cart" style="margin-top: -50px; margin-left: 130px; ">
                                      <i class="fa-solid fa-cart-shopping"></i>
                                  </button>
                              </form>
                               <!-- <div style="margin-left: 130px; font-size: 14px;margin-top: -20px;">CART<span style="color: red; "><b>*</b></span></div> -->
                          </div>
                      <% } %>
                      <!-- Review show in front only betterment of the UI/UX -->
                      <!-- <div class="col-md-6">
                        Rating: <b> : <%#list.reviews.rating %> </b>
                      </div> -->
                      
                    </p>
                </div>
            </div>
        <!-- </a> -->
    <% } %>
  </div>
</body>
